@font-face {
  font-family: "alahabahah";
  src: url(StalinistOne-Regular.ttf);
}
@font-face {
  font-family: "alah";
  src: url(OpenSans-VariableFont_wdth\,wght.ttf);
}
* {
  margin: 0;
  padding: 0;
}
header{
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
}
.hed img {
  width: 100px;
  
}
.mainImg{
  border-radius: 20px;
}
ul {
  list-style: none;
  display: flex;
  gap: 10px;
}
a {
  text-decoration: none;
  color: rgb(86, 86, 86);
}
i{
  color: rgb(52, 52, 125);
  margin-left: 10px;
}

.content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainh1{
  margin-top: 25px;
  color: rgb(50, 50, 50);
}

.mainh4{
  display: flex;
  justify-content: center;
  margin:10px 150px;
  color: rgb(130, 130, 130);
  font-weight: 200;
}
.skills{
  display: flex;
  flex-direction: column;
}
.mainh12{
  color: black;
  align-self: center;
  margin-top: 100px;
  font-weight: bold;
}

.skills .cards{
  display: flex;
  justify-content: space-around;
}
.card{
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 15px;
  padding: 0 10px;
  font-family: "alahabahah";
}
.cardHeader1{
  display: flex;
  justify-content: center;
   border-radius: 5px;
}
.cards{
  display: flex;
  padding: 20px;
  gap: 10px;
  font-size: 15px;

}
.cardHeader2{
  display: flex;
  justify-content: center;
   border-radius: 5px;
}
.cardHeader3{
  display: flex;
  justify-content: center;
   border-radius: 5px;
}

.subTitle{
  color: blue;
}
.tools{
  color: blue;
}

.footerH1{
  background-color: blue;
  color: white;
  margin:0 30px;
  margin-top: 52px;
}
footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: blue;
  
}
footer h2{
  margin: 30px 0;
}
.footerH2{
  display: flex;
  text-align: center;
  background-color: blue;
  color: white;
  margin-bottom: 20px;

}
footer a{
  text-align: center;
  padding-right:8px ;
}

li:hover{
  background-color: rgb(16, 253, 218);
  border-radius: 12px;  
  
}

.huuber1{
  color: yellow;
  font-family: "alah";
  font-size: 30px;
}
h3{
  font-family: "alah";
  font-size: 15px;
}


.content2 {
  text-align: center;
  margin-top: 25px;
}

.card2{
  display: flex;
  max-width: 700px;
  flex-grow: 1;
  border: 1px solid black;
  border-radius: 15px;
  padding: 0 10px;
  border-bottom: 5px solid yellow;
  justify-content: center;
  align-items: center;
  
}

.grid2{
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  max-width: 700px;
  gap: 50px;
  margin-top: 52px;
  margin-bottom: 52px;

}


.grid2 img {
  min-width: 300px;
  width: 100%;
}
.huuber2{
  color: rgb(175, 126, 255);
  font-family: "alah";
  font-size: 30px;
}
.card3{
  display: flex;
  margin: 0 auto;
  max-width: 700px; 
  border: 1px solid black;
  border-radius: 15px;
  padding: 0 10px;
  border-bottom: 5px solid rgb(175, 126, 255);
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 700px) {
 .cards2{
  display:flex ;
  flex-direction: row;
 } 
 .grid2{
  grid-template-columns: 1fr;
  margin: 5px;
  max-width: 700px;
  gap: 50px;
 }
  .grid2 img{
    width: 100%;
  }
  .card2 {
    width: auto;
  }
  .mainh4 {
    margin: auto;
  }
  .card3 {
    width: auto;
  }
  .cards {
    display: flex;
    flex-direction: column;
  }
  
 
}

